<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Project Portfolio</title>
  <link rel="stylesheet" href="css/orders.css">
</head>
<body>
  <header>
    <h1>My Orders</h1>
  </header>
  
  <main>
    <section id="projects">
      <div class="project">
        <h3>Orders:name</h3>
        <p>Website for Abc school</p>
        <a href="#">View Orders</a>
      </div>
      
      <div class="project">
        <h3>Orders:name</h3>
        <p>Website for a shop </p>
        <a href="#">View Orders</a>
      </div>

     <div class="project">
       <h3>Orders:name</h3>
        <p>Website for DPS school</p>
        <a href="#">View Orders</a>
      </div>
      
      <div class="project">
        <h3>Orders:name</h3>
        <p>Website for a ABC HOTEl </p>
        <a href="#">View Orders</a>
      </div>


     
    </section>
  </main>

  <footer>
    <p>&copy; 2023 @itsAakashz</p>
  </footer>
</body>
</html>